@charset "utf-8";

@import "common";
@import "sub_item_accordion";

$border_primary : 1px solid #ccc;
$color_font_default : #333;

.vk-mobile-nav-menu-btn.menu-open {
	border-color:$color_font_default;
	background:url('../images/vk-menu-btn-close-black.svg') center 50% no-repeat;
}

.vk-mobile-nav {
	background-color: #fff;
	nav > ul {
		border-top:$border_primary;
	}
	nav ul li a {
		color:$color_font_default;
		border-bottom:$border_primary;
	}
}

.vk-menu-acc .acc-btn {
	border:1px solid $color_font_default;
	background:url('../images/vk-menu-acc-icon-open-black.svg') center 50% no-repeat;
}
.vk-menu-acc .acc-btn-close{
	background:url('../images/vk-menu-btn-close-black.svg') center 50% no-repeat;
}
