@charset "utf-8";

/*-------------------------------------------*/
/* .vk-mobile-nav-menu-btn
/*-------------------------------------------*/
.vk-mobile-nav-menu-btn {
	position: relative;
	// top:$manu_btn_margin;
	// left:$manu_btn_margin;
	z-index: 2100;
	overflow:hidden;
	border:1px solid #333;
	border-radius: 2px;
	width:34px;
	height:34px;
	cursor: pointer;
	text-indent: -9999px;
	background:url('../images/vk-menu-btn-black.svg') center 50% no-repeat;
	background-size: 24px 24px;
	transition: border-color ease-out;
	// transition: border-color $time_transition ease-out;
}
.vk-mobile-nav-menu-btn.menu-open {
	// border:1px solid $color_font_default;
	background:url('../images/vk-menu-close-black.svg') center 50% no-repeat;
}

/* 現状 .mobile-nav-btn-right は AdvUnit より body class に追加している */
.mobile-nav-btn-right .vk-mobile-nav-menu-btn{
	left:inherit;
	// right:$manu_btn_margin;
}
