@charset "UTF-8";
.media_post { display: block; overflow: hidden; position: relative; background-color: #fff; }
.media_post .media_post_label_new { background: rgba(255, 0, 0, 0.8); color: #FFF; font-size: 10px; padding: 60px 0px 5px; position: absolute; left: -104px; top: -44px; text-align: center; width: 200px; transform: rotate(-45deg); -ms-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -o-transform: rotate(-45deg); }
.media_post .media_post_image { z-index: 1; display: block; overflow: hidden; }
.media_post .media_post_image img { width: 100%; opacity: 1; transition: transform 0.3s, transform 0.6s; }
.media_post .media_post_text { display: block; overflow: hidden; }
.media_post .media_post_text .media_post_meta { margin-bottom: 2px; font-size: 12px; }
.media_post .media_post_text .media_post_meta .media_post_date { opacity: 0.8; margin-right: 8px; }
.media_post .media_post_text .media_post_meta .media_post_term { display: inline-block; font-size: 10px; line-height: 1.1em; color: #fff; padding: 1px 5px; position: relative; top: -1px; }
.media_post .media_post_text .media_post_meta .vcard.author { display: none; }
.media_post .media_post_text h4.media_post_title { background: none; padding: 0; margin-bottom: 2px; font-size: 12px; transition: font-size 0.6s, transform 0.6s; overflow: hidden; text-overflow: ellipsis; }
.media_post .media_post_text .media_post_excerpt { display: none; }
.media_post:hover .media_post_image { background-color: #000; }
.media_post:hover .media_post_image img { transform: scale(1.1); opacity: 0.5; transition: opacity 0.6s, transform 0.6s; }

.media_post_text { display: block; overflow: hidden; }
.media_post_text .media_post_title { margin: 0; }

/*-------------------------------------------*/
/*	高さを揃える
/*-------------------------------------------*/
@media (min-width: 768px) { .flex_height { display: flex; justify-content: space-between; flex-wrap: wrap; align-items: stretch; }
  .flex_height .flex_height_col { margin-bottom: 25px; }
  .flex_height .media_post { height: 100%; } }
/*-------------------------------------------*/
/*	.image_card
/*-------------------------------------------*/
.media_post.image_card { margin-bottom: 25px; }
.media_post.image_card .media_post_text { position: absolute; bottom: 0; z-index: 10; color: #fff; width: 100%; background-color: rgba(0, 0, 0, 0.8); transition: background-color 0.6s, transform 0.6s; padding: 10px 10px 10px 13px; }
.media_post.image_card .media_post_text .media_post_term { float: right; }
.media_post.image_card .media_post_title { line-height: 1.3em; width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.media_post.image_card:hover .media_post_text { background-color: rgba(255, 0, 0, 0.6); transition: background-color 0.6s, transform 0.6s; }

/*-------------------------------------------*/
/*	.image_1st
/*-------------------------------------------*/
@media (min-width: 768px) { .image_1st .media_post { margin-bottom: 10px; }
  .image_1st .media_post.first { float: left; width: 66%; }
  .image_1st .media_post.normal { float: right; width: 32%; }
  .image_1st .media_post.left { float: left; margin-right: 2%; }
  .image_1st .media_post.clear { clear: both; } }
/*-------------------------------------------*/
/*	.vertical_card
/*-------------------------------------------*/
.vertical_card { border: 1px solid #e3e3e3; }
.vertical_card a { color: #333; }
.vertical_card .media_post_title { line-height: 20px; }
.vertical_card .media_post_text { width: 100%; }

.vertical_card.normal_image { padding: 20px; }
.vertical_card.normal_image .media_post_image { margin-bottom: 20px; }

.vertical_card.large_image .media_post_text { padding: 20px; }

.vert_1 .vertical_card, .vert_large_image_1 .vertical_card { border-bottom: none; }
.vert_1 .col-sm-12:last-child .vertical_card, .vert_large_image_1 .col-sm-12:last-child .vertical_card { border-bottom: 1px solid #e3e3e3; }

@media (max-width: 767px) { .vert_3 .vertical_card, .vert_large_image_3 .vertical_card { border-bottom: none; }
  .vert_3 .flex_height_col:last-child .vertical_card, .vert_large_image_3 .flex_height_col:last-child .vertical_card { border-bottom: 1px solid #e3e3e3; } }
/*-------------------------------------------*/
/*	.oblong_card
/*-------------------------------------------*/
.oblong_card { border: 1px solid #e3e3e3; }
.oblong_card a { color: #333; }
.oblong_card .media_post_image { float: left; }
.oblong_card .media_post_image img { width: 120px; }
.oblong_card .media_post_title { line-height: 16px; }

.oblong_card.normal_image { padding: 15px; }
.oblong_card.normal_image .media_post_text { padding-left: 15px; }

.oblong_card.large_image .media_post_text { padding: 10px 15px; }

.oblong_1 .oblong_card, .oblong_large_image_1 .oblong_card { border-bottom: none; }
.oblong_1 .col-sm-12:last-child .oblong_card, .oblong_large_image_1 .col-sm-12:last-child .oblong_card { border-bottom: 1px solid #e3e3e3; }

.widget_ltg_media_authors h1 { margin-bottom: 10px; }

.author_outer { padding: 20px 30px; text-align: center; display: block; overflow: hidden; }
.author_outer a { color: #333; }

.author_avatar { margin-bottom: 15px; }

.author_caption { font-size: 12px; }

@media (min-width: 768px) { .subSection .author_outer { width: 100%; } }
